.bag:after, .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.bag, .clearfix {
  display: inline-block;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-transform: lowercase;
  font-family: "HelveticaNeue", Helvetica, sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  /*background-image: url(../img/bg-vacation.jpg);*/
  /*background-image: url(../img/bg-cool.jpg);*/
  background: url(../img/bg-coolguy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  /*background-image: url(../img/bg-shutter.jpg);*/
  /*background-image: url(/img/bg-coolguy.jpg);*/
  /*padding: 2em;*/
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: blue;
}

a:hover {
  color: blue;
}

a:visited {
  color: blue;
}

a:active {
  color: blue;
}

header {
  border-top: 5px solid white;
  padding: 2em;
  margin-bottom: 2em;
  /*background-image: url(../img/palm.jpg);
  background-size: 9%;
  background-position: 0 0px;
  color: white;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, 0.5);*/
}

h1, h2, h3 {
  color: rgb(0, 255, 255);
  color: white;
}

h1 {
  /*text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.4);*/
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 1em;
  font-size: 4em;
}

header h2 {
  letter-spacing: .83em;
  position: relative;
  left: -0.3em;
}

header h1,
header h2 {
  margin: 0;
  line-height: 1em;
}

.main {
}

.category {
  vertical-align: top;
  display: inline-block;
  margin: 0 2em 2em 2em;
}

.category.customs {
  margin: 0 auto;
}

.category h1 {
  text-transform: uppercase;
}

.category.customs {
  display: block;
}

.bag {
  font-family: "Courier New", Courier, serif;
  font-size: 12px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.75);
  padding: 1em;
}
.bag .images {
  /*float: left;*/
}

.bag .images li {
  display: none;
}

.bag .images li:first-child {
  display: block;
}

.bag .info {
  padding: 1em;
}

.customs .bag-list > li {
  display: inline-block;
  margin: 2em 2em;
}

