<nav class="nav-big">
  <ul class="unstyled">
    <li><a class="nav-link info" data-id="info" href="#info">About</a></li>
    <li><a class="nav-link shop" data-id="shop" href="#shop">Shop</a></li>
    <li><a class="blog-link" href="http://blog.bermudasf.com">Blog</a></li>
  </ul>
</nav>
