@import "compass/reset";
@import "compass/css3";

/* CONFIG */

$background-color: white;
$section-heading-font-size: 36px;

$header-background-image: url(/static/img/jon-bg-drink.jpg);
$header-background-image: url(/static/img/sam-bg-color-fixed.jpg);

$gutter: 3%;
$gutter-main: 28px;
$left-margin: $gutter;
$left-column: 30%;
$right-column: 65%;

$link-color: #b39a9d;
$link-color: #444;
$pink-color: #ffdce0;
//$link-color: #98a4f9;

$logo-name: "logo-white";
$logo-filename: $logo-name + ".png";
$logo-filename-2x: $logo-name + ".2x.png";
$logo-width-desktop: 301px * .75;
$logo-height-desktop: 227px * .75;
$logo-width-mobile: 120px;
$logo-height-mobile: 100px;

$zag-width: 77px;
$zag-height: 5px;
$zag-topnav-name: "zag-white-many";
$zag-topnav-filename: $zag-topnav-name + ".png";
$zag-topnav-filename-2x: $zag-topnav-name + ".2x.png";
$zag-botnav-name: "zag-black-many";
$zag-botnav-filename: $zag-botnav-name + ".png";
$zag-botnav-filename-2x: $zag-botnav-name + ".2x.png";

$zag-spacing: 15px;
$header-spacing: 20px;

$nav-line-height: 3em;
$nav-font-size: 2em;
$nav-font-weight: 600;
$nav-fixed-top: 34px;
$nav-width: 250px;
$topnav-link-color: white;
$botnav-link-color: black;
$botnav-link-hover: lighten($botnav-link-color, 50%);

$h-family: "futura-pt", "proxima-nova-alt", "brandon-grotesque", Helvetica, sans-serif;
$h-weight: 600;
$h-font-size: $nav-font-size * .75;

// MIXINS / MODULES

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

@mixin zag {
    background-repeat: repeat-x;
    background-size: $zag-width $zag-height;
    width: 100%;
    height: $zag-height;
    position: absolute;
    left: 0;
    content: " ";
}

/*
  .zagged must be 'position: relative' to :after the ziggies
  all nav-big <li>s are zagged
*/
.zagged,
.nav-big li {
  position: relative;
  top: 0;
  display: block;
}

/*
  actual zigzag stuff
*/
.zagged:after,
.nav-big li:after {
    @include zag;
    bottom: -$zag-height;
}

/*
  the nav. it's big?
*/
nav.nav-big {
  font-size: $nav-font-size;
  text-align: center;
  width: $nav-width;


  ul {
    margin-bottom: $nav-font-size / 2;
  }

  li {
    font-weight: $nav-font-weight;
    line-height: $nav-line-height;

    &:first-child:before {
      @include zag;
    }
  }

  a {
    display: inline;
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

nav.nav-big.nav-fixed {
}

// CSS
html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  padding: 0;
  background-color: $background-color;
  max-width: 1500px;
  line-height: 1.25em;
  font-family: $h-family;
  font-size: 87.5%; /* 14px */
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: darken($link-color, 50%);
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3,
.nav-big li {
  font-family: $h-family;
  font-weight: $h-weight;
  line-height: 1em;
  text-transform: uppercase;
}

body > header,
body > .main,
body > footer {
}

header {
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 2;
  background: $header-background-image no-repeat center center scroll;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .fb-like-box {
    position: absolute;
    right: 0;
  }

  aside {
    height: 100%;
    overflow: hidden;
    //margin: $gutter;
    text-align: center;
  }

  .logo {
    background-image: url(/static/img/#{$logo-filename});
    background-size: $logo-width-desktop $logo-height-desktop;
    width: $logo-width-desktop;
    height: $logo-height-desktop;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: $gutter * 2;
  }

  nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -125px;
  }
}

.main {
  z-index: 1;

  & > section {
    padding: 0 $gutter;
    padding: $gutter-main;
  }

  & > section > section {
    margin-bottom: $gutter-main;
  }

  & > section h1,
  & > section h2 {
    text-align: center;
  }

  #info {
    background-color: $pink-color;
    //background-image:  url('/static/img/pink-palm-pat.jpg');

    .about {
      //background-color: #0F0;
    }

    .ordering {
      //background-color: #00F;
    }

    & > section {
//      padding: 2em;
//      color: #ffdce0;
//      color: white;
//      background-color: white;
    }

    p {
      text-align: justify;
      margin-bottom: $gutter-main / 2;
    }
  }

  #shop {
    background-color: white;
  }

  h2 {
    font-size: $h-font-size;
    margin-bottom: $h-font-size * 0.5;
    line-height: $h-font-size * 1.5;
  }

  .nav-container {
    display: none;

    nav.nav-big {

      a {
        color: $botnav-link-color;
        display: block;

        &:hover {
          color: $botnav-link-hover;
        }
      }
    }
  }

  .item {
    position: relative;
    top: 0;

    .low-res { 
      text-align: center;
      z-index: 4;

      li {
        display: none;
      }

      li:first-child {
        display: block;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 500px;
        margin: 0 auto;
      }
    }

    .item-info {
    overflow: hidden;
      text-align: center;
//      position: absolute;
//      bottom: 1em;
//      left: 0;
//      right: 0;
      position: relative;
      top: 0;
      margin-top: -3em;
      z-index: 5;

      .description {
        margin-bottom: $gutter-main;
        display: none;
      }

      .product-id {
        float: left;
      }

      .price {
        float: right;
      }
    }
  }
}

footer {
  //background-color: black;
  background-color: $pink-color;
  //border-top: 1px solid black;
  overflow: none;
  padding: 1px;
  font-size: 12px;
  text-align: right;

  ul {

    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.imprint {
  position: fixed;
  display: none;
}

// MEDIA QUERIES

@media only screen
and (min-width : 768px) {
	body {
		font-size: 100%;
	}

	header {
    position: relative;
    top: 0;
    max-height: 1200px;

    aside {
      position: relative;
      top: 0;
      width: $left-column;
      margin-left: $left-margin;
    }

    .logo {
      margin-top: $gutter * 6;
    }

    nav {
    }
  }

.main {
  position: relative;
  top: 0;

  & > section {
    padding-left: $left-column + $gutter * 2;
    padding-right: $gutter;
  }

  & > section > section {
    //margin: 0 auto;
    width: 80%;
    max-width: 800px;
  }

  .nav-container {
    display: block;
    width: $left-column;
    position: fixed;
    top: $nav-fixed-top;
    left: $left-margin;
    text-align: center;
  }

  nav.nav-big {
    margin: 0 auto;
  }

}
}

// REMEMBER NORMAL DISPLAYS!!!

@media screen and (min--moz-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {

  header {
    .nav-big li:first-child:before,
    .nav-big li:after {
      background-image: url(/static/img/#{$zag-topnav-filename-2x});
    }

    .logo {
      background-image: url(/static/img/#{$logo-filename-2x});
    }
  }

  .main {
    .nav-big li:first-child:before,
    .nav-big li:after {
        background-image: url(/static/img/#{$zag-botnav-filename-2x});
    }

    #info {
      .zagged:after {
          background-image: url(/static/img/#{$zag-botnav-filename-2x});
      }
    }

    #shop {
      .zagged:after {
          background-image: url(/static/img/#{$zag-botnav-filename-2x});
      }
    }
  }
}
