@import "compass/reset";
@import "compass/css3";

/* CONFIG */

$background-color: white;

$header-background-image: url(/static/img/jon-bg-drink.jpg);
//$header-background-image: url(/static/img/sam-bg-color.jpg);

$logo-name: "logo-white";
$logo-filename: $logo-name + ".png";
$logo-filename-2x: $logo-name + ".2x.png";
$logo-width-desktop: 301px;
$logo-height-desktop: 227px;
$logo-width-mobile: 120px;
$logo-height-mobile: 100px;

$zag-width: 77px;
$zag-height: 5px;
$zag-topnav-name: "zag-white-many";
$zag-topnav-filename: $zag-topnav-name + ".png";
$zag-topnav-filename-2x: $zag-topnav-name + ".2x.png";
$zag-botnav-name: "zag-black-many";
$zag-botnav-filename: $zag-botnav-name + ".png";
$zag-botnav-filename-2x: $zag-botnav-name + ".2x.png";

$zag-spacing: 15px;
$header-spacing: 20px;

$nav-line-height: 100px;
$nav-font-size: 66px;
$nav-width: 250px;
$topnav-link-color: white;
$botnav-link-color: black;
$botnav-link-hover: lighten($botnav-link-color, 50%);

// MIXINS / MODULES

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

/*
  .zagged must be 'position: relative' to :after the ziggies
  all nav-big <li>s are zagged
*/
.zagged,
.nav-big li {
  position: relative;
  top: 0;
  display: block;
}

/*
  actual zigzag stuff
*/
.zagged:after,
.nav-big li:after {
    background-repeat: repeat-x;
    background-size: $zag-width $zag-height;
    width: 250px;
    width: 100%;
    height: $zag-height;
    position: absolute;
    //bottom: -($nav-line-height / 8);
    bottom: -$zag-spacing;
    left: 0;
    content: " ";
}

/*
  the nav. it's big?
*/
nav.nav-big {
  font-size: $nav-font-size;
  text-align: center;
  width: $nav-width;

  ul {
    margin-bottom: 0;
    margin-bottom: $nav-font-size / 2;
  }

  li {
    //padding-left: $nav-width / 4;
    line-height: $nav-line-height;

    &:first-child {
      a {
        color: rgb(0, 255, 255);
        display: none;
        &:hover {
        }
      }
    }

  }

  a {
    display: inline;
    color: white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

nav.nav-big.nav-fixed {
}

// CSS
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  text-transform: lowercase;
  background-image: url(/static/img/pink-palm-pat.jpg);
  background-color: $background-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 1500px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
  cursor: pointer;
}

body > header,
body > .main,
body > footer {
//  display: block;
//  margin: 0 auto;
//  background-color: $background-color;
}

#info {
  //background-color: #f2d3ea;
}

#shop {
  //background-color: #f2e8d3;
}

header {
  position: relative;
  max-height: 1200px;
  top: 0;
  z-index: 2;
  overflow: hidden;
  height: 100%;
  background: $header-background-image no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo {
    background-image: url(/static/img/#{$logo-filename});
    background-size: $logo-width-desktop $logo-height-desktop;
    width: $logo-width-desktop;
    height: $logo-height-desktop;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    top: 1em;
    left: 1em;
    //display: none;
  }

  .logo, nav {
    margin-left: 0%;
  }

  nav {
    position: absolute;
    bottom: 0;
  }
}

.main {
  position: relative;
  top: 0;
  z-index: 1;
  height: 2000px;
  //padding-left: $nav-width;

  & > section {
    padding-left: $nav-width * 1.25;
    padding-right: $nav-width * 0.25;
  }

  & > section > section {
    max-width: 500px;
  }

  h1 {
    padding-top: $header-spacing;
    font-size: $nav-font-size;
    margin-bottom: $zag-spacing * 2;
  }

  nav.nav-big {
    position: fixed;
    top: $nav-font-size / 2;
    left: 0;

    a {
      color: $botnav-link-color;
      &:hover {
        color: $botnav-link-hover;
      }
    }
  }
}

// MEDIA QUERIES

// REMEMBER NORMAL DISPLAYS!!!

@media screen and (min--moz-device-pixel-ratio: 2),
screen and (-o-min-device-pixel-ratio: 2/1),
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-device-pixel-ratio: 2) {

  header {
    .nav-big li:after {
      background-image: url(/static/img/#{$zag-topnav-filename-2x});
    }

    .logo {
      background-image: url(/static/img/#{$logo-filename-2x});
    }
  }

  .main {
    //.nav-big li:after,
    .zagged:after {
        background-image: url(/static/img/#{$zag-botnav-filename-2x});
    }
  }
}
